.lang-sm {
    background-position: 0 -1172px;
    min-width: 22px;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../../assets/images/languages.png);
}
.lang-sm[lang=vi-VN] {
    background-position: 0 -1140px;
}

.lang-sm[lang=en-US] {
    background-position: 0 -596px;
}
.lang-sm[lang=ja-JP] {
    background-position: 0 -804px;
}
.lang-sm {
    top: 4px;
    position: relative;
}
.lang-sm.lang-lbl, .lang-sm.lang-lbl-en, .lang-sm.lang-lbl-full {
    padding-left: 24px;
}
.lang-lbl[lang=en-US]:after {
    content: "English";
}
.lang-lbl[lang=vi-VN]:after {
    content: "Ti\001EBFng\000020vi\001EC7t";
}
.lang-lbl[lang=ja-JP]:after {
    content: "\0065E5\00672C\008A9E";
}
.lang-sm:after {
    top: -4px;
    position: relative;
}