body {
  margin: 0;
  font-family: 'Noto Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans', 'Arial', 'Tahoma';;
}

:root {
  --dark-blue: #2150B7;
  --dark-green: #135200;
  --blue: #1890FF;
  --light-pink: #FF7474;
}

.timekeeping {
  font-size: 13px;
  font-weight: 500;
}

.gap-20px {
  gap: 20px;
}

.full-w {
  width: 100%;
}

/* .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
} */

.btn-dark-blue {
  background-color: var(--dark-blue) !important;
  border: var(--dark-blue) !important;
}

.btn-dark-green {
  background-color: var(--dark-green) !important;
  border: var(--dark-green) !important;
}

.btn-blue {
  background-color: var(--blue) !important;
  border: var(--blue) !important;
}

.btn-light-pink {
  background-color: var(--light-pink) !important;
  border: var(--light-pink) !important;
}

.react-bootstrap-table table {
  table-layout: auto;
}

#pageDropDown {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.react-bootstrap-table-page-btns-ul {
  float: right!important;
}
.react-bootstrap-table-page-btns-ul .active{
  border: solid 0px blue !important;
}
.table thead th {
  vertical-align: top !important;
  text-align: center;
  border-bottom: 2px solid #dee2e6;
}
.input-group-prepend {
  width: 35%;
}
.input-group-text {
  width: 100%;
  overflow: hidden;
}

.navbar-brand {
	font-family: HelveticaNeue;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
  color: #ffffff;
  margin-left: 5px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#nav-tab a:hover,
#nav-tab a.active {
  border-bottom-color: transparent;
  background: #fff;
  border-top: 3px solid rgb(2, 32, 75) !important;
}

#nav-tab a {
  background: #eee;
  border: 1px solid #ddd !important;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  border-bottom: 0 !important;
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgb(2, 32, 75),rgb(2, 32, 75), rgb(2, 32, 75));
  height:0.2em;
}

table > thead {
  background-color: #eee;
}

.react-datepicker__input-container {
  width: inherit;
}
.react-datepicker-wrapper {
  width: 100%;
}

.table-custom-hovered .react-bootstrap-table table tbody tr:hover {
  background-color: #e9f3fc;
  border-top: 1px solid #9dc7f1;
  border-bottom: 1px solid #9dc7f1;
}
