.tabs_Nav {
    background-color: rgb(0, 53, 129);
    align-items: center;
    text-align: center;
    display: block;
    height: 48px;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.tabs_NavItem {
    color: rgb(255, 255, 255) !important;
    align-items: center;
    border: 0;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    display: inline-block;
}
.nav-tabs .nav-item {
    margin: 0 !important;
    cursor: pointer;
}
.nav-tabs .nav-link,
.nav-tabs .nav-item {
    display: inline-block;
    height: 48px;
    border-bottom: none;
    border-radius: 0;
    border: none !important;
}
.nav-tabs .nav-link {
    height: 47px;
    display: table-cell;
    vertical-align: middle;
}
.tabs_NavLink {
    color: rgb(255, 255, 255) !important;
    
}
.tabs_NavLinkActive {
    background-color: rgb(63, 104, 160) !important;
    color: rgb(255, 255, 255) !important;
}

.tab-content {
    margin-left:  50px !important;
    margin-right: 50px !important;
}
.tab-content .tab-pane.active {
    border: none !important;
}
@media only screen and (max-width: 640px) {
    .tabs_Nav {
        height: auto;
    }
    .tabs_Nav::after {
        content: '';
        clear: both;
        display: table;
    }
    .nav-tabs .nav-item {
        float: left;
        display: table;
        height: auto;
        min-height: 64px;
        border-bottom: none;
        border-radius: 0;
        border: none !important;
        width: 33.33% !important;
    }
    .tab-content {
        margin-left:  0px !important;
        margin-right: 0px !important;
    }
    .nav-tabs .nav-link {
        width: 100%;
    }
}