.activeMenuBar {
	width: 280px !important;
}
#backdrop {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	display: block;
	z-index: 3;
	visibility: hidden;
}
#backdrop.show {
	visibility: visible;
	background-color: rgba(0,0,0,.6);
}

.menusub-open  {
	display: block !important;
	/* width: 256px; */
}
.menusub-open li:hover  {
	background-color: rgb(208, 210, 224, 1);
}
#frontdesk-submenu {
  display: none;
}
.open-arrow > #frontdesk::after {
  transform: rotate(0deg);
}

#reports-submenu {
  display: none;
}
.open-arrow > #reports::after {
  transform: rotate(00deg);
}

#setup-submenu {
  display: none;
}
.open-arrow > #setup::after {
  transform: rotate(00deg);
}

#order-submenu {
  display: none;
}
.open-arrow > #order::after {
  transform: rotate(00deg);
}
.Qun-l-t-hng {
	width: 158px;
	height: 28px;
	font-family: HelveticaNeue;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	color: #ffffff;
}

.download-csv {
	width: 90px;
	height: 14px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	display: inline-flex;
}
.BG {
	width: 176px;
	height: 38px;
	border-radius: 4px;
	border: solid 1px #e4e4e4;
	background-color: #ffffff;
}
.submenu-header {
	margin-top: 20px;
	margin-left: 40.5px;
	margin-right: 40.5px;
	position: relative;
}
.button-BG {
	background-color: #f5a623;
    border-color: #f5a623;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.togge-button {
	width: 81px;
	height: 38px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	color: #373a3c;
}
/*.active {
	border: solid 1px blue !important;
}*/
.cancel-button {
	width: 80px;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #003581;
	background-color: #ffffff;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #003581;
	margin-right: 10px;
}
.ok-button {
	width: 79px;
	height: 32px;
	border-radius: 2px;
	background-color: #003581;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	margin-right: 10px;
}
.save-button {
	width: 198px;
  	height: 32px;
	border-radius: 3px;
	border: solid 1px #0998ff;
  	background-color: #0998ff;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.dropdown-toggle {
	white-space: nowrap;
	background-color: transparent;
    border-color: transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-item {
	text-decoration: none;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
}

#content-menu .ul .li {
	cursor: pointer;
}

.btn-top {
	margin-top: 30px;
}