.timekeeping__employee_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timekeeping__datetime {
  display: flex;
  align-items: center;
  gap: 20px;
}

.timekeeping__datetime__hour {
  font-size: 35px;
}

.timekeeping__datetime__date {
  font-size: 18px;
}

.timekeeping__image img {
  width: 100%;
}

.timekeeping__employee_info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.timekeeping__employee_right {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timekeeping__employee_right h3 {
  font-size: 15px;
  text-align: center;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.timekeeping__status {
  display: flex;
  justify-content: center;
  gap: 40px;
}
