.timekeeping thead {
  background: none;
}

.timekeeping thead th {
  font-weight: normal;
}

.timekeeping table thead th {
  border: none !important;
}

.dept {
  font-weight: 600;
  font-size: 14px;
  text-align: left !important;
}

table tr.separator { height: 10px; }

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 40px;
  height: 40px;
}

.user-info p {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.timekeeping  tbody td {
  text-align: center;
  background-color: #F5F5F5;
  vertical-align: middle !important;
}

.timekeeping tbody td:first-child,
.timekeeping tbody th:first-child {
  border-radius: 10px 0 0 10px;
}

.timekeeping tbody td:last-child,
.timekeeping tbody th:last-child {
  border-radius: 0 10px 10px 0;
}

.timekeeping tbody tr td {
  padding: 10px !important;
}

.timekeeping tbody tr td:last-child {
  text-align: center;
}

.timekeeping .btn-employee {
  align-items: flex-end;
  width: 100px;
}
